{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!-- Start: Top Bar -->
<div class="top-nav">

  {% if page.email %}
    <div class="top-email">
      <i class="fa fa-envelope"></i>
      {{ page.email }}
    </div>
  {% endif %}

  {% if show_social_icon %}
    <div class="top-social-media social-media">
      Follow us
      {% if facebook_url %}
        <a href="{{ facebook_url }}"  class="facebook" target="_blank" ><i class="fab fa-facebook-f"></i></a>
      {% endif %}
      {% if twitter_url %}
        <a href="{{ twitter_url }}" class="twitter" target="_blank" ><i class="fab fa-twitter"></i></a>
      {% endif %}
      {% if linkedin_url %}
        <a href="{{ linkedin_url }}" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      {% endif %}
      {% if instagram_url %}
        <a href="{{ instagram_url }}" class="instagram" target="_blank" ><i class="fab fa-instagram"></i></a>
      {% endif %}
      {% if rss_url %}
        <a href="{{ rss_url }}" class="rss" target="_blank" ><i class="fa fa-rss"></i></a>
      {% endif %}
    </div>
  {% endif %}

  {% if page.top_menu %}
    <div class="top-menu">
      {{ page.top_menu }}
    </div>
  {% endif %}

</div>
<!-- End: Region -->


<!-- Start: Header -->
<div class="header">
  <div class="container-">
    <div class="row">

      <div class="navbar-header col-md-3">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <i class="fas fa-bars"></i>
        </button>
        {% if page.header %}
          {{ page.header }}
        {% endif %}
      </div>

      {% if page.primary_menu or page.search %}
        <div class="col-md-9">
          {% if page.search %}
            {{ page.search }}
          {% endif %}
          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
<!-- End: Region -->


<!-- Start: Slides -->
{% if is_front and show_slideshow %}
  <div class="container-">
    <div class="flexslider">
      <ul class="slides">
        {% for slider_contents in slider_content %}
          {{ slider_contents | raw }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!--Start: Top Message -->
{% if page.topmessage %}
  <div class="top-message">
    <div class="container">
      {{ page.topmessage }}
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Top widget -->
{% if page.topwidget_first or page.topwidget_second or page.topwidget_third %}

  <div class="topwidget" id="topwidget">

    <div class="container">
      {% if page.topwidget_title %}
        <div class="custom-block-title" >
          {{ page.topwidget_title }}
        </div>
      {% endif %}

        <div class="row topwidget-list clearfix">
          {% if page.topwidget_first %}
            <div class = {{ topwidget_class }}>{{ page.topwidget_first }}</div>
          {% endif %}
          {% if page.topwidget_second %}
            <div class = {{ topwidget_class }}>{{ page.topwidget_second }}</div>
          {% endif %}
          {% if page.topwidget_third %}
            <div class = {{ topwidget_class }}>{{ page.topwidget_third }}</div>
          {% endif %}
        </div>
    </div>
  </div>

{% endif %}
<!-- End: Region -->


<!--Start: Highlighted -->
{% if page.highlighted %}
  <div class="highlighted">
    <div class="container">
      {{ page.highlighted }}
    </div>
  </div>
{% endif %}
<!--End: Highlighted -->


<!--Start: Title -->
{%  if page.page_title and not is_front %}
  <div id="page-title">
    <div id="page-title-inner">
      <div class="container">
        {{ page.page_title }}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Title -->


<div class="main-content">
  <div class="container">
    <div class="">

      {% if not is_front %}
        <div class="row">
          <div class="col-md-12">{{ page.breadcrumb }}</div>
        </div>
      {% endif %}

      <div class="row layout">

        {% if page.sidebar_first %}
          <div class={{sidebarfirst}}>
            <div class="sidebar">
              {{ page.sidebar_first }}
            </div>
          </div>
        {% endif %}

        {% if page.content %}
          <div class={{contentlayout}}>
            <div class="content_layout">
              {{ page.content }}
            </div>
          </div>
        {% endif %}

        {% if page.sidebar_second %}
          <div class={{sidebarsecond}}>
            <div class="sidebar">
              {{ page.sidebar_second }}
            </div>
          </div>
        {% endif %}

      </div>

    </div>
  </div>
</div>
<!-- End: Region -->


<!-- Start: Features -->
{% if page.features_first or page.features_second or page.features_third %}

  <div class="features">
    <div class="container">

      {% if page.features_title %}
        <div class="custom-block-title" >
          {{ page.features_title }}
        </div>
      {% endif %}

      <div class="row features-list">
        {% if page.features_first %}
          <div class = {{ features_first_class }}>
            {{ page.features_first }}
          </div>
        {% endif %}
        {% if page.features_second %}
          <div class = {{ features_class }}>
            {{ page.features_second }}
          </div>
        {% endif %}
        {% if page.features_third %}
          <div class = {{ features_class }}>
            {{ page.features_third }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Updates widgets -->
{% if page.updates_first or page.updates_second or page.updates_third %}

  <div class="updates" id="updates">
    <div class="container">

      {% if page.updates_title %}
        <div class="custom-block-title" >
          {{ page.updates_title }}
        </div>
      {% endif %}

      <div class="row updates-list">
        {% if page.updates_first %}
          <div class = {{ updates_class }}>
            {{ page.updates_first }}
          </div>
        {% endif %}
        {% if page.updates_second %}
          <div class = {{ updates_class }}>
            {{ page.updates_second }}
          </div>
        {% endif %}
        {% if page.updates_third %}
          <div class = {{ updates_class }}>
            {{ page.updates_third }}
          </div>
        {% endif %}
        {% if page.updates_forth %}
          <div class = {{ updates_class }}>
            {{ page.updates_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Middle widgets -->
{% if page.midwidget_first or page.midwidget_second or page.midwidget_third or page.midwidget_forth %}

  <div class="midwidget" id="midwidget">
    <div class="container">

      {% if page.midwidget_title %}
        <div class="custom-block-title" >
          {{ page.midwidget_title }}
        </div>
      {% endif %}

      <div class="row midwidget-list">
        {% if page.midwidget_first %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_first }}
          </div>
        {% endif %}
        {% if page.midwidget_second %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_second }}
          </div>
        {% endif %}
        {% if page.midwidget_third %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_third }}
          </div>
        {% endif %}
        {% if page.midwidget_forth %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Clients -->
{% if page.clients %}
  <div class="clients" id="clients">
    <div class="container">
      {% if page.clients_title %}
        <div class="custom-block-title" >
          {{ page.clients_title }}
        </div>
      {% endif %}
      {{ page.clients }}
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Bottom widgets -->
{% if page.bottom_first or page.bottom_second or page.bottom_third or page.bottom_forth %}

  <div class="bottom-widget" id="bottom-widget">
    <div class="container">

      {% if page.bottom_title %}
        <div class="custom-block-title" >
          {{ page.bottom_title }}
        </div>
      {% endif %}

      <div class="row bottom-widget-list">
        {% if page.bottom_first %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_first }}
          </div>
        {% endif %}
        {% if page.bottom_second %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_second }}
          </div>
        {% endif %}
        {% if page.bottom_third %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_third }}
          </div>
        {% endif %}
        {% if page.bottom_forth %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Footer widgets -->
{% if page.footer_first or page.footer_second or page.footer_third %}

  <div class="footer" id="footer">
    <div class="container">

      {% if page.footer_title %}
        <div class="custom-block-title" >
          {{ page.footer_title }}
        </div>
      {% endif %}

      <div class="row">
        {% if page.footer_first %}
          <div class = {{ footer_class }}>
            {{ page.footer_first }}
          </div>
        {% endif %}
        {% if page.footer_second %}
          <div class = {{ footer_class }}>
            {{ page.footer_second }}
          </div>
        {% endif %}
        {% if page.footer_third %}
          <div class = {{ footer_class }}>
            {{ page.footer_third }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!-- End: Region -->


<!-- Start: Copyright -->
<div class="copyright">
  <div class="container">
    <span>Copyleft © {{ "now"|date("Y") }}. No rights reserved.</span>
    {% if show_credit_link %}
      <span class="credit-link">Designed By <a href="https://www.zymphonies.com" target="_blank">Zymphonies</a></span>
    {% endif %}
  </div>
</div>
<!-- End: Region -->





